/* ================= BIBLIOTECA ================= */
#bibliotecaContainer .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
}

#bibliotecaContainer .card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

#bibliotecaContainer img {
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

#bibliotecaContainer .btn-danger {
    background-color: #ff5757;
    border: none;
}

#bibliotecaContainer .btn-danger:hover { background-color: #bf4141; }

#bibliotecaContainer .btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

#bibliotecaContainer .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}
